@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

main {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 16px 16px 0 16px;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title h2 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 35px;
    color: #13183F;
}

.title-started__first {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 48px;
    background-color: #13183F;
    border-radius: 28px;
}

.title-started__first span {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}

.title-second {
    padding-top: 38px;
}

.title-second h1 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
}

.text {
   padding-top: 26px; 
}

.text p {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #83869A;
}

.title-started__second {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 167px;
    height: 56px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 31.5px;
    margin-top: 24px;
}

.title-started__second span {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.img-woman {
    margin-top: 46px;
}

.img-woman img {
    width: 327px;
    height: 301px;
}